:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--accent-color: #4D5AE5;
}

ul{
list-style: none;
}

a{
text-decoration: none;
}

body{
background-color: #FFFFFF;
font-family: 'Roboto',sans-serif;
color: var(--primary-text-color);
}

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: var(--title-text-color);
}

.accent {
color: var(--accent-color);
}

.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--title-text-color);
}

.mailo, 
.tel {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

h1 {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
background: var(--title-text-color);
}

.hero-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
background: var(--accent-color);
}
.principles-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.principles-desc{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.subject{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-text-color);
}
.name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: var(--title-text-color);
}
.specialty{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
background: var(--title-text-color);
}

.modal-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
color: var(--accent-color);
background-color: #F4F4FD;

}
.modal-btn:hover,
.modal-btn:focus {
color: #F4F4FD;
background-color: var(--accent-color);
}
.title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
}
.title-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}